/* lang-switch */
.lang-switch {
    padding-left: 30px;
    width: 86px;
    @include sm {
        padding-left: 0;
        width: 155px;
    }
    .selectric-wrapper {
        .selectric {
            border: none;
        }
        .label {
            padding: 0;
            line-height: 1;
            width: 32px;
            text-align: right;
        }
        .button {
            right: auto;
            left: 40px;
        }
        .selectric-items {
            top: 20px;
            width: auto !important;
        }
    }

}
